<div class="music-content top-margin">
	<div class="left inline" {{action 'play' 'album'}}>
		<img class="music-image-small {{if song.albumLink 'pointer'}}" src="{{imageToDisplay}}">
		{{#if song.albumLink}}
			<div class="pointer play-album full-width">Play Album</div>
		{{/if}}
	</div>
	<div class="right inline">
		<div class="options">
			{{#if isCreator}}
				<span class="pointer" {{action 'edit'}}>Edit</span>
			{{/if}}
			{{#if isFavorite}}
				<span class="pointer favorite-full" {{action 'favorite' false}}>{{fa-icon "heart"}}</span>
			{{else}}
				<span class="pointer favorite-empty" {{action 'favorite' true}}>{{fa-icon "heart-o"}}</span>
			{{/if}}
		</div>
		<div class="topline">
			<div class="play-button inline">
				<span {{action 'play' 'song'}}>{{fa-icon "play-circle"}}</span>
				{{#if song.hasVideo}}
					<div class="pointer play-video" {{action 'play' 'video'}}>
						Video {{fa-icon 'fa fa-youtube-play'}}
					</div>
				{{/if}}
			</div>
			<div class="song-attributes inline">
				<div class="title">{{song.title}}</div>
				<div class="artist pointer" {{action 'searchText' song.artist}}>{{song.artist}}</div>
				<div class="album">{{song.album}} ({{song.year}})</div>
			</div>
		</div>
		<div class="tags top-margin">
			{{#each uniqueTags as |tag|}}
				<button class="btn btn-sm" {{action 'searchText' tag.name}}>{{tag.name}}</button>
			{{/each}}
			<button class="btn btn-sm" {{action 'showTagForm'}}>Tag {{fa-icon "plus-circle"}}</button>
			{{#if isShowingTagForm}}
				<div class="submit-tag-wrapper">
					{{tag-button tagCollection=tagCollection submitTag='submitTag'}}
				</div>
			{{/if}}
		</div>
		<div class="review top-margin">
			<span class="bold">{{song.submittedBy}}</span>
			<span>{{song.review}}</span>
			<div> - {{format-date song.createdAt}}</div>
		</div>
		<div class="comments top-margin">
			<button class="btn btn-sm full-width" {{action 'showComments'}}>Comments ({{uniqueComments.length}})</button>
			{{#if isShowingComments}}
				<div class="comment-list top-margin">
					{{#each uniqueComments as |comment|}}
						<div class="comment">
							<span class="name bold">{{comment.postedBy}}</span>
							<span class="comment-body">{{comment.comment}}</span>
							<div> - {{format-date comment.createdAt}}</div>
						</div>
					{{/each}}
					{{textarea value=newComment placeholder="Thoughts?" class="comment-box form-control"}}
					{{#if newComment}}
						<div class="center">
							<button class="btn btn-sm btn-success" {{action 'submitComment'}}>✓</button>
							<button class= "btn btn-sm btn-danger" {{action 'discardComment'}}>X</button>
						</div>
					{{/if}}
				</div>
			{{/if}}
		</div>
	</div>
</div>
