<div class="music-content">
	<div class="title">
		<span class="pointer" {{action 'play' 'song'}}>{{song.title}} {{fa-icon "play-circle"}}</span>
	</div>
	<div class="artist">
		<span class="pointer" {{action 'searchText' song.artist}}>by {{song.artist}}</span>
	</div>
	<img class="music-image-small full-width" src="{{imageToDisplay}}">
	<div class="album">
		{{#if song.albumLink}}
	 		<span class="pointer" {{action 'play' 'album'}}>{{song.album}} ({{song.year}}) {{fa-icon "play-circle"}}</span>
	 	{{else}}
			{{song.album}} ({{song.year}})
		{{/if}}
	</div>
	{{#if song.hasVideo}}
		<div class="video pointer" {{action 'play' 'video'}}>
			Video {{fa-icon 'fa fa-youtube-play'}}
		</div>
	{{/if}}
	<div class="comment-and-tag-container">
		<div class="review">
			<span class="name bold">{{song.submittedBy}}</span>
			<span class="comment-body">{{song.review}}</span>
			<br>
			<div> - {{format-date song.createdAt}} </div>
		</div>
		{{#if song.comments}}<hr>{{/if}}
		{{#each song.comments as |comment|}}
			<div class="comment">
				<span class="name bold">{{comment.postedBy}}</span>
				<span class="comment-body">{{comment.comment}}</span>
				<div> - {{format-date comment.createdAt}}</div>
			</div>
		{{/each}}
		<hr>
		<div class="tag-list">
			{{#each uniqueTags as |tag|}}
				<button class="btn-tag" {{action 'searchText' tag.name}}>{{tag.name}}</button>
			{{/each}}
			<button class="btn-tag" {{action 'showTagForm'}}>Tag {{fa-icon "plus-circle"}}</button>
			<div class="{{if isShowingTagForm 'submit-tag-wrapper' 'hide'}}">
				{{tag-button submitTag='submitTag'}}
			</div>
		</div>
	</div>
</div>