<div class="container song-form page-body">
	<div class="col-md-3">
		<img src="{{{image}}}" />
		<button class="btn btn-success form-control" {{action 'submit'}}>Submit</button>
		<button class="btn btn-warning form-control" {{action 'discard'}}>Nevermind</button>
		{{#if error}}
			<div class="error">{{error}}</div>
		{{/if}}
	</div>
	<div class="col-md-6">
		<h6>Add at least one link:</h6>
		{{input value=spotify placeholder="Spotify URI" class="form-control"}}
		{{input value=youtube placeholder="YouTube Link" class="form-control"}}
		{{#if youtube}}
			<h5>Video? {{input type="checkbox" name="Video" checked=hasVideo}}</h5>
		{{/if}}
		{{input value=soundcloud placeholder="SoundCloud Embed Link" class="form-control"}}
		
		<h6>Why it's cool:</h6>
		{{textarea value=review placeholder="Your thoughts..." class="form-control"}}

		<h6>Add a Spotify URI, and this will automatically populate:</h6>
		{{input value=title placeholder="Title" class="form-control"}}
		{{input value=artist placeholder="Artist" class="form-control"}}
		{{input value=album placeholder="Album" class="form-control"}}
		{{input value=year placeholder="Year" class="form-control"}}
		
	</div>
</div>
