{{#if session.isAuthenticated}}
  	<div class="navbar">
  		<div class="navbar-left">
  			<div class="brand">The Jams</div>
  			<div class="navbar-link">{{#link-to "music"}}Music{{/link-to}}</div>
  			<div class="navbar-link">{{#link-to "users"}}Users{{/link-to}}</div>
  		</div>
  		<div class="navbar-right">
  			<div class="user-status">
  				<div>{{session.currentUser.displayName}}</div>
  				<img class="profile-picture" src={{{session.currentUser.profileImageURL}}}>
  				<button {{action "signOut"}}>Logout</button>
  			</div>
  		</div>
  	</div>
	<div class="page-content">
		{{outlet}}
	</div>
{{else}}
  	<button {{action "signIn" "google"}}>Sign in with Google</button>
{{/if}}