<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         {{#link-to 'index' class='navbar-brand'}}THE JAMS{{/link-to}}
      </div>
      <div class="collapse navbar-collapse">
         {{#if session.isAuthenticated}}
            <ul class="nav navbar-nav">
               <li>{{#link-to 'music'}}Songs{{/link-to}}</li>
               <li>{{#link-to 'users'}}Users{{/link-to}}</li>
               <li {{action 'closePlayer'}}><a>Close Player</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><img class="profile-picture" src={{{session.currentUser.profileImageURL}}} /></li>
               <li {{action 'toUserRoute'}}><a>{{session.currentUser.displayName}}</a></li>
               <li {{action 'signOut'}}><a>Logout</a></li>
            </ul>
         {{/if}}
      </div>
   </div>
</nav>

<div class="page-content">
   {{outlet}}
</div>

<div class="audio-player-container">
   <div class="audio-player {{if isPlaying 'is-playing' 'hide'}} {{playType}}"></div>
</div>
