<div id="page-songs">
	<img class="image-background" src="assets/images/sam-cooke.png" />

	<div class="color-bar">
		<div class="color-bar-single cbs-one"></div>
		<div class="color-bar-single cbs-two"></div>
		<div class="color-bar-single cbs-three"></div>
		<div class="color-bar-single cbs-four"></div>
	</div>

	<div class="control-bar">
  		<div class="search-container">
			{{input 
				type=text 
				value=query 
				class='search-box'
				placeholder='Search title, artist, album, tags, user...'
			}}
		</div>
		<div class="sorting-btn-container">
			{{#link-to 'submission.song'}}<button class="btn sorting-btn">Add Tunes</button>{{/link-to}}
			<button class="btn sorting-btn play-all-btn" {{action 'playAll'}}>Play All</button>
			<div class="dropdown">
				<a id="dLabel" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
					<button class="btn sorting-btn">
						Show Only
						<span class="caret"></span>
					</button>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li {{action 'showOnly' 'showOnlyVideos'}}>Videos</li>
				</ul>
			</div>
			<div class="dropdown">
				<a id="dLabel" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
					<button class="btn sorting-btn">Sort By<span class="caret"></span></button>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li {{action 'sortBy' 'artist'}}>Artist</li>
					<li {{action 'sortBy' 'createdAt'}}>Date Added</li>
					<li {{action 'sortBy' 'submittedBy'}}>Submitted By</li>
					<li {{action 'sortBy' 'year'}}>Year</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="page-body">
		<div class="container">
			<div class="col-lg-12 video-player-container center">
				<div class="video-player"></div>
				<div class="btn-close-video" {{action 'closeVideo'}}>{{fa-icon "times"}}</div>
			</div>
			{{#each filteredContent as |column|}}
				<div class="col-md-4">
					{{#each column as |song|}}
						{{music-entry
							song=song
							tagCollection=tagCollection
							favorite='favorite'
							submitComment='submitComment'
							submitTag='submitTag'
			            	deleteComment='deleteComment'
			            	searchText='searchText'
			            	loadPlayer='loadPlayer'
			            	playVideo='playVideo'
						}}
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>

</div>

