<ul>
  {{#each model as |song index|}}
    <p>{{index}}) {{song.title}} by {{song.artist}}</p>
    <p>{{song.review}}</p>
    <ul>
	    {{#each song.tags as |tag|}}
	    	<li>{{tag.name}}</li>
	    {{/each}}
	</ul>
	<ul>
	    {{#each song.comments as |comment|}}
	    	<li>{{comment.postedBy}}: {{comment.comment}}</li>
	    {{/each}}
	</ul>
  {{/each}}
</ul>